.contact-page textarea  {
    display: block;
    margin-top: 30px;
    border: none;
    border: 2px solid $evergreen-color;
    // background-color: $ice-color;
    padding: 30px;
}
::placeholder  {
    text-transform: uppercase;
    color:$black-color;
}
.contact-page input[type="submit"] {
    @include secondary-links();
    display: block;
    margin-top: 30px ;
    width: 540px;
}