footer {
    color:$body-background-color;
    background-color:$black-color;
    text-align: center;
}
footer p {
    margin: 0;
}
.contact-page footer {
    color: $black-color;
    background-color: $ice-color;
}
.contact-page .juno-brand-name {
    background-color:$black-color ;
    color: $body-background-color;
}
.juno-brand-name a {
    color: $body-background-color;
    &:hover {
        background:darken($body-background-color, $amount: 40);
        padding: 5px 0px;
        color:$black-color;
        font-size: 2.2rem;
        border-radius: 4px;
    }
}

