footer {
    color:$body-background-color;
    background-color:$black-color;
    text-align: center;
}
footer p {
    margin: 0;
}
.contact-page footer {
    color: $black-color;
    background-color: $ice-color;
}
.contact-page-form-container {
    display: flex;
    padding: 50px 10px;
}
.contact-page form {
    background-color: $body-background-color;
    width: 50%;
    padding: 30px 15px;
    
}
.contact-page .juno-brand-name {
    background-color:$black-color ;
    color: $body-background-color;
}

