
.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
html {
    font-size: 62.5%;
}
body {
    background-color: $body-background-color;
    font-family:$base-font;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 32px;
}
.blog-page,
.contact-page {
    background-color:$ice-color;
}
ul {
    padding: 0;
    margin: 0;
}
nav ul, 
.home-page-section-gallery ul{
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
img {
    display: block;
    width: 100%;
    max-width: 100%;
}