// home page
.home-page header {
    background-image: url(../assets/header-home.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85% 45%; 
}
h1 {
    font-size: 68px;
    font-weight:400;
    font-family: 'Kumar One Outline', cursive;
}
.home-page  h1 {
    width: 45%;
    text-align: center;
    text-transform:uppercase;
    line-height: 64px;
    margin: 70px 0 60px 0;
}
.header-box-image {
    background-image: url(../assets/header-box.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 60vh;
    background-position: left center; 
}
// generals
.blog-page h1,
.contact-page h1 {
    padding: 60px 0 60px  60px;
}
// blog page

.blog-page header {
    background-image: url(../assets/blog-image.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
// contact page 
.contact-page header {
    background-image: url(../assets/contact-image.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% left; 
}