
h2 {
    font-family: $secondary-font;
    font-weight: $font-weight-regular;
    font-size: 3.3rem;
    line-height: 58px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.home-page-section-1 {
    display: flex;
    margin:60px;
    justify-content: center;
    flex-wrap: wrap;
}
.home-page-section-1 div:first-of-type {
    flex: 1 1 600px;
    padding: 40px;
}
.home-page-section-1 div:last-child {
    flex: 1 1 250px;
    margin-top: 80px;
}
.home-page-section-1 {
    img {
        // box-shadow: 1px 5px  0px 10px $bright-yellow-color;
        border-left: 10px solid  $bright-yellow-color;
        border-bottom: 15px solid  $bright-yellow-color;
    }
}
.home-page-section-2,
.home-page-section-5 {
    background-color:$ice-color;
    padding: 70px 20px;
}
.home-page-section-5 {
    padding: 0px 0px;
}
.home-page-section-gallery ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.home-page-section-3,
.home-page-section-4 {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 20px;
}
.home-page-section-3 {
    margin-top: 40px;
}
.home-page-section-4 {
    margin-bottom: 40px;
}
.home-page-section-3 h2,
.home-page-section-4 h2 {
    display: inline-block;
}
.home-page-section-3 div:first-of-type,
.home-page-section-4 div:first-of-type {
    margin-right: 15px;
    flex: 1 1 600px;
}
.home-page-section-3 div:last-child,
.home-page-section-4 div:last-child {
    flex: 1 1 600px;
}
.home-page-section-3,
.home-page-section-4 {
    span {
        background-color: yellow;
        padding: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}
.paragraph-text-sections-3-4 {
    padding-left: 30px;
}
.home-page-container-section-5-one,
.home-page-container-section-5-two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.home-page-container-section-5-one div:first-of-type {
    flex: 1 1 250px;
    margin-right: 130px;
    position: relative;
    bottom: 40px;
}
.home-page-container-section-5-one div:last-child {
    flex: 1 1 400px;
    margin-top: 80px;
}

.home-page-container-section-5-two div:first-of-type {
    flex: 1 1 400px;
    padding: 40px;
    margin-right: 50px;
    text-align: end;
}
.home-page-container-section-5-two div:last-child {
    flex: 1 1 250px;
    position: relative;
    top:75px
}
.home-page-container-section-5-two span {
    margin-right: 120px;
}
.home-page-container-section-5-one p {
    width: 575px;
}
.home-page-container-section-5-two h2 {
    padding-right: 140px;
}
.home-page-container-section-5-two p {
    width: 575px;
}
.home-page-container-section-5-one {
    img {
        border-right: 10px solid  $bright-yellow-color;
        border-bottom: 15px solid  $bright-yellow-color;
    }
}
.home-page-container-section-5-two {
    img {
        border-left: 10px solid  $bright-yellow-color;
        border-bottom: 15px solid  $bright-yellow-color;
    }
}
.banner-image-background {
    background-image: url(../assets/banner-image.jpg);
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: top center;
    margin: 0;
}
.home-page-container-section-6 {
    width: 75%;
    padding: 80px 0;
}
.home-page-container-section-6  h2,
.section-6-button {
    text-align: center;
}
// blog page
.article-aside-container {
    display: flex;
}
.article-img-container,
.article-text-container {
    background-color: $body-background-color;
    width: 70%;
    padding: 30px;
}
.article-aside-container ul {
    display: block;
}
.comments-section {
    width: 70%;
    padding: 40px;
}
.first-comment {
    display: inline-flex;
}
.first-comment div:first-of-type,
.second-comment div:first-of-type{
    width: 15%;
}
.second-comment {
    display: flex;
}
// Comments Form
form fieldset {
    border: none;
}
// 