// Colors:
$body-background-color:#F5F5F5;
$bright-yellow-color:#F8FB05;
$evergreen-color:#065635;
$ice-color:#E0FDDF;
$black-color:#151514;
//fonts
$base-font:'Lato', sans-serif;
$h1-headings-font:'Kumar One Outline', cursive;
$secondary-font:'Kumar One', cursive;
// font-weight
$font-weight-regular:400;
$font-weight-bold:700;